.sec4 {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
}

.sec-4-1 {
  text-align: center;
}

.sec-4-2 {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.cert-box {
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: all 0.3s ease;
}

.cert-box:hover {
  background-color: darkorange;
  color: white;
}

.cert-box img {
  width: 40px;
  margin-bottom: 10px;
}
